/**
 TODO(you): Write the CSS necessary to complete HW1!
*/
body {margin:0;padding:0;font-family: 'Roboto Slab', serif;}
.Wrapper {width:66.67%;margin:0 auto;}
a {text-decoration: none;color:#42b4d6;}
a:hover {text-decoration: underline;}

header {height:500px;width:100%;background-image:linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);;background-size: cover;background-repeat: no-repeat;background-position:top;}
header > .Wrapper {display:flex;justify-content: center;align-items: center;height:100%;}
header > .Wrapper > h1 {width:780px;text-align: center;color:#FFF;font-size:36px;font-weight: normal;}

#profile {text-align: center;margin-top:-50px;font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:60px;color:rgb(51, 51, 51)}
#profile > .img {width:100px;height:100px;background-color:#FFF;overflow:hidden;border-radius:100%;position: relative;display:inline-block;border:1px solid #fff;}
#profile > .img > img {transform:translateX(-50%) translateY(-50%);position: absolute;top:50%;left:50%;width:120%;border:2px solid #FFF;}
#profile > .name {font-weight: bold;}
#profile > .date {padding:0 3px 10px 3px;border-bottom:2px solid #e6e6e6;display:inline-block;font-style: italic;}

#posts {}
#posts > .Wrapper {}
#posts > .Wrapper > .item {display:flex;margin-bottom:120px;}
#posts > .Wrapper > .item > .index {font-size:36px;color:rgba(0, 0, 0, .25);margin-right:40px;}
#posts > .Wrapper > .item > .cont > .title > h2 {margin:0;font-size:36px;color:rgb(51, 51, 51)}
#posts > .Wrapper > .item > .cont > .title > a {margin-bottom:20px;}
#posts > .Wrapper > .item > .cont > img {width:100%;}
#posts > .Wrapper > .item > .cont > p {margin-bottom:20px;font-family: 'Source Sans Pro', sans-serif;font-size:18px;line-height: 32px; color:rgb(51, 51, 51);}

